

/**--develops--*/

.header{
    position: relative;
 }
 .page-info span{
   /* основной текст */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   /* or 144% */


   /* Фирменный черный */

   color: #1D1D1D;
 }
 .page-info{
   display: flex;
 }
 .page-info-text{
   max-width: 932px;
   background: #D9D9D9;
   padding-top: 48px;
   padding-left: 192px;
   padding-right: 129px;
   padding-bottom: 66px;
 }

.export-container{
    border-bottom: 1px dashed #000000;
    padding-bottom: 60px;
    margin-bottom: 64px;
  }
  .text-info-block{
    display: flex;
  }
  .text-block{
    max-width: 1073px;
    background: #F9D119;
    padding: 60px 34px 81px 185px;
  }
  .expot-text{
    
    /* основной текст */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
  
  
    color: #000000;
  
  }
  .portfolio-block{
    padding-left: 185px;
    padding-right: 185px;
    display: flex;
    position: relative;
  }
  .portfolio-img{
    max-width: 860px;
    z-index: 10;
  }
  
  .portfolio-info{
    position: absolute;
    background: #D9D9D9;
    width: 633px;
    height: 445px;
  
    right: 185px;
  }
  .business-block{
    display: flex;
    background: #1D1D1D;
    width: 720px;
    height: 124px;
    padding-left: 188px;
    align-items: center;
  }
  .business{
    
    padding-right: 185px;
    display: flex;
    position: relative;
    z-index: 10;
  }
  .business-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #FBFBFB;
    text-align: center;
  }
  .business-text-block{
    margin-left: 145px;
    margin-right: 185px;
    background: #F9D119;
    height: 700px;
    position: relative;
      top: -62px;
  }
  .business-info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    padding: 96px 182px 23px 40px;
  
    color: #000000;
  }
  .business-info-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    padding: 28px 136px 23px 40px;
  
    color: #000000;
  
  }
  .business-info-ol{
    margin-left: 15px;
    padding: 96px 182px 23px 40px;
  }
  .business-info-ol li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
    
  
    color: #000000;
  }

  .bitumPMB-conteiner{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .marki-block{
    margin-top: 66px;
    display: flex;
    background: #D9D9D9;
    width: 1252px;
    height: 99px;
    padding-left: 188px;
    align-items: center;
  }
  .marki-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  .marki-info-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 188px;
    margin-right: 188px;
    padding-top: 30px;
  }
  .marki-info-text{
    height: 80px;
    padding: 17px 20px;
    background: #F9D119;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .passport-block{
    margin-left: 9px;
    padding-top: 60px;
  }
  .passport-text{
    background: #000000;
    display: flex;
    max-width: 725px;
    height: 82px;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }
  .passport-text img{
    width: 30px;
  }
  .passport-text span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
  }
  .PMB-info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    padding: 84px 0px 30px 189px;
  }
  .PMB-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    padding: 30px 563px 66px 189px;
  }
  .polimer-PMB-text{
    ont-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    background: #D9D9D9;
    padding: 29px 0px 28px 37px;
    margin-left: 154px;
  }
  .polimer-conteiner{
    display: flex;
    padding-top: 58px;
    gap: 45px;
  }
  .polimer-info-text{
    display: flex;
    gap: 57px;
    margin-bottom: 30px;
  }
  .polimer-info-text-numbers{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 26px;
    color: #F9D119;
  
  }
  .polimer-info-text-a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    max-width: 439px;
  }

  .container{
    width: 1440px;
    height: auto;
    
    
   }
   .motor-gasoline{
    background-image: url(img/motor.png);
    background-repeat: no-repeat;
    background-size: cover;
    
   }
   .motor-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  
    /* серый */
  
    color: #FBFBFB;
  
    padding-top: 74px;
    padding-bottom: 43px;
    padding-left: 180px;
   }
  
   .title-prewie{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  
    /* серый */
  
    color: #FBFBFB;
    float: left;
    padding-left: 180px;
   }
   .text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
  
  
    /* Фирменный черный */
  
    color: #FBFBFB;
   
   }
   .text.usage-text{
      color:black;
      padding-top: 47px;
      padding-left: 0;
  
   }
  .usage-blok{
    background: #D9D9D9;
    margin-right: 510px;
  }
  .title-prewie.classification{
    color: #1D1D1D;
    margin-top: 56px;
    margin-bottom: 43px;
    float: none;
  }
  .classification-img{
    min-width: 545px;
    display: flex;
    justify-content: end;
    background: #D9D9D9;
  }
  .classification-img img{
    width: 266px;
    height: 654px;
    
  }
  .classification-block{
    display: flex;
    gap: 8px;
  }
  .fuel{
    min-width: 169px;
  }
  .fuel-item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  
    color: #F9D119;
    
  
  }
  .text.classification{
    color: #1D1D1D;
    text-align: left;
  }
  .classification-item{
    display: flex;
    border-bottom: 2px dashed #1D1D1D; 
    align-items: center;
    padding: 30px;
    gap: 30px;
    padding-right: 158px;
  }
  .classification-item:last-child{
    border-bottom: 0;
  }
  .quality {
    margin-top: 57px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 41px;
  
  }
  
  .quality-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    /* or 194% */
  
  
    /* Фирменный черный */
  
    color: #1D1D1D;
  
  }
  .quality-block{
    background-color: #F9D119;
    padding: 19px 183px 26px 118px;
    margin-left: 110px;
  }
  .quality-block .quality-item{
    font-weight: bolder;
    text-decoration: underline
  }
  
  .title-prewie.logistics{
    color: #1D1D1D;
    float: none;
  }
  .text.logistics{
    color:#1D1D1D;
    padding: 40px 180px;
  }
  .delivery{
    display: flex;
    justify-content: space-between;
    margin-left: 310px;
    margin-right: 177px;
    margin-top: 17px;
    margin-bottom: 165px;
  }
  .delivery-item{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 337px;
    margin-right: 337px;
    
  }
  .delivery-item-line{
    width: 100%;
    position: absolute;
    border: 2px solid #AAA6A6;
  }
  .delivery-item .curcle svg{
    background: #fff;
    z-index: 10;
    position: relative;
  }
  .delivery-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
  
    text-align: center;
  
    color: #878787;
  }
  .delivery-item-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }
  .delivery-item-text{
    text-align: center;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
  
    text-align: center;
  
    color: #878787;
  
  
  }
  .title-prewie.implementation{
    color: #1D1D1D;
    float: none;
    padding-bottom:25px;
    padding-top: 41px;
  
  }
  .text.implementation{
    color: #1D1D1D;
    padding: 0px 107px 79px 180px; 
    text-align: justify;
  
  }
  .implementation-item{
    background: #F9D119;
    margin-right: 400px;
  }
  .implementation{
  }
  .title-prewie.oil-products{
    color: #1D1D1D;
    float: none;
    padding-right: 508px;
    padding-bottom: 45px;
    border-top: 2px dashed #1D1D1D;
    padding-top: 94px;
  
  }
  .kinds-item{
    background-color: #F9D119;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
  
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .kinds{
    display: grid;
   
    grid-template-columns: 190px 190px 190px 190px 190px;
    grid-template-rows: 60px;
    gap: 10px;
    padding-left: 180px;
    margin-bottom: 93px;
  }
  .kinds-text{
    width: 96px;
    text-align: center;
  }
.asphalt-info{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding: 67px 0px 50px 187px;
}
.asphalt-text-conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-left: 188px;
  margin-right: 188px;
}
.asphalt-text{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
color: #000000;
}
.asphalt-text-block{
  ont-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background: #D9D9D9;
  padding: 22px 89px 50px 186px;
  margin-right: 520px;
}
.asphalt-block{
  padding-top: 130px;
}
.coldasphalt-block{
  display: flex;
  gap: 39px;
}
.coldasphalt-info-text{
  display: flex;
  gap: 57px;
  margin-bottom: 50px;
}
.coldasphalt-info-text-numbers{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 26px;
  color: #F9D119;
  padding: 20px;
}
.coldasphalt-info-text-a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  max-width: 439px;
}
.page-info{
    /* основной текст */
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */
 
 
    /* Фирменный черный */
 
    color: #1D1D1D;
  }
  .page-info{
    display: flex;
    flex-direction: column;
 
  }
  .page-info-text{
   max-width: 932px;
   background: #D9D9D9;
 
   padding-top: 48px;
   padding-left: 192px;
   padding-right: 129px;
   padding-bottom: 66px;
  }
 
  .page-info-text-two{
   max-width: 710px;
   background: #F9D119;
   padding-left: 192px;
   padding-top: 25px;
   padding-bottom: 16px;
 
   border-bottom: 1px dashed #1D1D1D;
  }
 .page-info-text-two div{
   max-width: 282px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   /* or 144% */
 
 
   color: #000000;
 }
  .line{
   width: 705px;
   height: 0px;
   left: -2px;
   top: 816px;
 
   border: 2px dashed #1D1D1D;
   transform: rotate(-0.08deg);
 
  }
 .block-left{
   margin-top: 70px;
 }
  .page-info-text-three{
  
   max-width: 710px;
   background: #F9D119;
 
   padding-top: 13px;
   padding-left: 192px;
   
   padding-bottom: 30px;
  }
  
 .block-right{
   display: flex;
   justify-content: end;
 }
 .block-right .page-info{
   width: 49%;
 }
 .block-right .page-info .page-info-text-two{
   padding-left: 23px;
 }
 .block-right .page-info .page-info-text-three{
   padding-left: 23px;
 }
 
 .polimer-PMB{
 -webkit-text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 text-align: left;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 0px;
 line-height: 36px;
 color: #1d1d1d;
 box-sizing: inherit;
 margin: 50px;
 padding-left: 182px;
 padding-right: 508px;
 }
 
 .polimer-img{
   margin-left: 140px;
 }
 
 .page-info-text-s{
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 23px;
 
 margin-left: 183px;
 margin-right: 487px;
 
 color: #1D1D1D;
 }
 
 .polimer-txt div{
   margin-left: 183px;
   margin-right: 487px;
   margin-bottom: 22px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
 }
 
 .page-info-text-twos div{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   margin-bottom: 40px;
 }
 
 .page-info-text-sl div{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   margin-bottom: 40px;
 }
 
 .polimer-txt12 div{
   margin-left: 185px;
   margin-right: 591px;
   margin-top: 13px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   margin-bottom: 31px;
 }
 
 .passport-block{
   position: relative;
   left: -10px;
   margin-bottom: 170px;
 }
 
 .text{
   margin-bottom: 106px;
 }
 
 .implementation{
   position: relative;
   left: -75px;
 }
 
 
/**--develops--*/