/*адаптив blog */
@media (max-width: 1200px){
    .article-blog{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px){
    .article-blog{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 576px){
    .article-blog{
        grid-template-columns: 1fr;
    }
}


/*адаптив passports */
@media (max-width: 1257px){
    .passports-body{
        grid-template-columns: 200px 200px ;
        justify-content: center;
    }
}
@media (max-width: 998px){
    .passports-body{
        grid-template-columns: 200px  ;
        justify-content: center;
    }
}
@media (max-width: 854px){
    .passport-menu-item span {
        margin-left: 139px;
    }
    .passpot-menu-section {
        width: 427px;
    }
}
@media (max-width: 763px){
    .passpot-menu-section {
        width: 381px;
    }
    .passport-menu-item span{
        margin-left: 92px;
    }
}
@media (max-width: 639px){
    .passport-menu-item span {
        margin-left: 35px;
    }
    .passpot-menu-section {
        width: 319px;
    }
}
@media (max-width: 572px){
    .passpot-menu-section {
        width: 286px;
    }
    .passport-menu-item{
        font-size: 25px;
        line-height: 31px;
    }
}
@media (max-width: 534px){
    .passports {
        display: block;
    }
    .passpot-menu-section{
        width: auto;
    }
    .passport-menu-item span {
        margin-left: auto;
        margin-right: auto;
    }
    .passports-body{
        grid-template-columns: 200px 200px;
    }
}
@media (max-width: 467px){
    .passports-body {
        grid-template-columns: 200px;
    }
}
@media (max-width: 364px){
    .passport-menu-item{
        text-align: center;
    }

}