













.modal-window {
    /* // margin-left: 15%; */

    height: 300px;
    background: #f9d119;
    margin-bottom: 50px;
    width: 500px;
   height: 415px;
   text-align: center;
 }
 
 .back-call input {
    border: 1px solid #FFFFFF;
    width: 80%;
    margin-left: 10%;
    display: block;
    height: 41px;
    border-radius: 10px;
    padding-left: 15px;
 }
 .back-call-btn {
   width: 60%;
   height: 41px;
   border-radius: 10px;
   margin-top: 30px;
   color: #FFFFFF;
   background-color: #1D1D1D;


}
 .back-call-name {
    margin-bottom: 30px;
    margin-top: 37px;
 }
 
 .modal-window p, 
 .modal-window span {
    font-weight: 600;
    font-size: 9px;
    text-align: center;
    line-height: 128%;
    margin-top: 24px;
 }
 
 .modal-window span {
    text-decoration: underline;
 }
 
 .modal-window-close {
    background: none;
    border: none;
    float: right;
    padding-right: 25px;
    margin-top: 15px;
 }
 
 .modal-window h2 {
   font-weight: 500;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
    margin-top: 41px;
 }
 
 .modal-window-block {
    display: none;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
 }
 .stt-container{
    background-color: unset;
 }
 .stt-modal{
    background-color: #000000c4;
 }

 @media (max-width: 576px){
   .modal-window {
       width: 450px;
   }
}
@media (max-width: 479px){
   .modal-window {
       width: 95%;
   }
}
@media (max-width: 375px){
   .modal-window {
       width: 80%;
   }
}