@media (max-width: 1600px){
    .container {
        width: 1200px;
    }
}
@media (max-width: 1440px){
    .container {
        width: 1200px;
    }
    .about-text-grid:first-child{
        grid-template-columns: 420px 1fr;
    }
    .ethical-justifications-block .block-wrapper {
        margin-top: 15%;
    }
}
@media (max-width: 1200px){
    .article-blog{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .coldasphalt .asphalt-page{
        width: 812px;
        height: 108px;
        padding: 22px 0 0 186px;
        padding-top: 22px;
        padding-left: 186px;
     }
     .coldasphalt .coldasphalt-info-text{
        gap: 25px;
     }
     .coldasphalt .coldasphalt-info-text-a{
        max-width: 399px;
     }
    .container {
        width: 1024px;
    }
    .bitumPMB-page .polimer-page{
        width: 90%;
     }
     .polimer-conteiner{
        margin-bottom: 108px;
     }
    .banner-page{
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    .kinds{
        justify-content: space-around;
        gap: 0;
      }
      .brand {
        font-size: 74px;
    }
    .passports-body {
        gap: 25px;
    }
    .about-text-grid,
    .about-text-grid:first-child {
        grid-template-columns: 1fr;
    }
    .about-text-grid-second {
        display: flex;
        flex-direction: column-reverse;
    }
    .ethical-justifications-block .block-wrapper {
        margin-top: 18%;
    }

}
@media (max-width: 1024px){
    .coldasphalt .asphalt-info{
        padding: 67px 0px 50px 110px;
     }
     .coldasphalt .asphalt-page{
        padding-left: 110px;
     }
     .coldasphalt .asphalt-text-conteiner{
        margin-left: 110px;
        margin-right: 110px;
     }
     .coldasphalt .coldasphalt-img{
        width: 50%;
     }
     .coldasphalt .coldasphalt-block{
        gap: 10px;
     }
     .coldasphalt .coldasphalt-info-text{
        gap: 10px;
     }
     .coldasphalt .coldasphalt-info-text-a{
        width: 71%;
     }
     .coldasphalt .coldasphalt-info-text{
        margin-bottom: 24px;
     }
     .coldasphalt .coldasphalt-page{
        margin-bottom: 61px;
     }
    .container {
        width: 920px;
    }
    .about-text-img {
        width: 460px;
    }
    .about-text-img-first{
        width: 420px;
    }
    .about-partners{
        grid-template-columns: 1fr 1fr 1fr;
        width: 860px;
    }
    .page-404 svg{
        width: 100%;
        height: 300px;
    }
    .page-404{
        display: block;
    }
    .textz{
        width: 910px;
    }
    .you-want-text .aviation-text{
        margin-left: auto;
    }
    .fuel-blok{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .blok-sentence{
        width: auto;
    }
    .demand {
        padding: 0 0 0 50px;
    }
    .formation {
        padding: 40px 0 0 150px;
    }
    .organization {
        padding: 40px 0 0 250px;
    }
    .creation {
        padding: 40px 0 0 350px;
    }
    .security {
        padding: 40px 0 20px 450px;
    }
    .classification-item{
        padding-right: 50px;
    }
    .kinds {
        grid-template-columns: repeat(5, 170px);
    }
    .brand {
        font-size: 46px;
    }
    .d-oil-page .bitum-page-block-8__container.container .bitum-page-block-8__decoration {
        padding-left: 155px;
    }
    .passports-body {
        padding: 45px;
        grid-template-columns: 200px 200px;
        gap: 56px;
    }
    .ethical-justifications-block .block-wrapper {
        margin-top: 23%;
    }


    
}
@media (max-width: 991px) {
    .aviation-fuel__decoration_circle-big:not(:last-child)::after {
        width: 23.4375rem;
        left: -470%;
    }
    .petrol-page .bitum-page-block-8__decoration,
    .d-oil-page .bitum-page-block-8__decoration {
        width: 54%;
    }
    .petrol-page .bitum-page-block-8__container.container .bitum-page-block-8__decoration,
    .d-oil-page .bitum-page-block-8__container.container .bitum-page-block-8__decoration {
        justify-content: space-between;
    }
    .d-oil-page .bitum-page-block-8__container.container .bitum-page-block-8__decoration {
        padding-left: 0;
    }
}
@media (max-width: 920px){
    .bitumPMB-page .polimer-page::after{
        height: 117px;
    }
    
    .bitumPMB-page .polimer-page{
        height: 117px;
    }
    .polimer-info-text{
       margin-bottom: 20px;
    }
    .polimer-conteiner{
       margin-bottom: 99px;
    }
    .container {
        width: 768px;
    }
    .about-text-grid{
        grid-template-columns: 1fr;
    }
    .about-text-grid:first-child{
        grid-template-columns: 1fr;
    }
    .about-text-img{
        width: 100%;
    }
    .about-partners{
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    .textz{
        width: 750px;
    }
    .block-flex{
        width: 750px;
    }
    .about-productions-items{
        width: 100%;
    }
    #square {
        display: none;
    }
    .choice-item-list{
        flex-wrap: wrap;
        width: auto;
    }
    .choice-svg-item{
        width: 100%;
    }
    .fuel-turbine-item{
        padding: 50px;
    }
    .fuel-turbine-item .aviation-text{
        width: auto;
    }
    .jet-fuel-item svg{
        width: 100%;
    }
    .banner-page{
        background-size: auto 100%;
    }

    .howwork-container {
        width: 768px;
     }
     .howwork-title {
        margin-bottom: 40px;
    }
    .howwork-main,
    .howwork-video,
    .howwork-value,
    .howwork-competitors,
    .howwork-staff,
    .howwork-rules,
    .howwork-end  {
     padding-left: 70px;
     padding-right: 70px;
     }
     .howwork-video__video {
        width: 100%;
     }
     .howwork-competitors-item {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .howwork-competitors-item:nth-child(odd) {
     flex-direction: column-reverse;
    }
    .howwork-end-text {
            padding-top: 0;
    }
    .blok-sentence{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .blok-sentence .blok{
        padding-bottom: 22px;
    }
    .process{
        position: static;
    }
    .consumption{
        margin-top: 20px;
    }
    .formation, .organization, .creation, .security{
        padding: 40px 0 0 50px;
    }
    .organization::after, .formation::after, .creation::after{
        left: 0;
    }
    .department-item{
        width: 758px;
    }
    .risk span:after, .monitoring span:after, .agreement span:after, .additionally span:after, .cost span:after{
        left: 307px;
    }
    .posting, .filling, .level, .loading, .adaptation{
        padding-left: 69px;
    }
    .risk{
        width: 289px
    }
    .monitoring{
        width: 290px;
    }
    .agreement{
        width: 305px;
    }
    .cost {
        width: 305px;
    }
    .line1{
        height: 815px;
    }
    .adaptation span:before{
        left: -30px;
    }
    .services-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services-list{
        max-width: none;
    }
    .services-list {
        display: grid;
    }
    .services-list .consumption-text {
        width: 256px;
    }
    .sentence-rectangle{
        background: none;
    }
    .polimer-PMB1 div{
        margin-top: 20px;
        font-size: 25px;
    }
    .polimer-conteiner-koks .polimer-img{
        width: 100%;
    }
    .petrol-page .classification-block{
        flex-wrap: wrap;
    }
    .classification-img{
        width: 100%;
        justify-content: center;
        background: none;
    }
    .classification-img img{
        height: auto;
        width: auto;
        height: 300px;
        display: none;
    }
    .quality .square{
        display: none;
    }
    .passport-menu-item{
        width: 250px;
        font-size: 26px;
        line-height: 28px;
    }
    .passports-body{
        grid-template-columns: 1fr 1fr;
    }
    .kinds {
        gap: 10px;
        grid-template-rows: repeat(2, 60px);
    }
    .koks .bitum-page-block-8__decoration_circle-small::before {
        width: 18.4375rem;
    }
    .choice-item-list {
        gap: 30px;
    }
    .jet-engine-blok .aviation-text {
        width: 598px;
    }
    .petrol-page .bitum-page-block-8__decoration,
    .d-oil-page .bitum-page-block-8__decoration {
        width: 60%;
    }
    .ethical-justifications-mobile .block-wrapper {
        margin-top: 14%;
    }
}
@media (max-width: 768px){
   
    .bitumPMB-conteiner .marki-info-text{
        height: 124px;
    }
    .bitumPMB-conteiner .marki-info-block{
        margin-left: 0px;
        margin-right: 0px;
    }
    .bitumPMB-page .polimer-page{
        width: 100%;
    }
    .bitumPMB-conteiner .PMB-text{
        margin-left: 0px;
    }
    .bitumPMB-conteiner .PMB-info{
        padding: 60px 0px 19px 0px;
    }
    
    .article-blog{
        grid-template-columns: 1fr 1fr;
    }
    .coldasphalt .asphalt-text-conteiner{
        margin-left: 60px;
        margin-right: 60px;
        gap: 27px;
    }
    .coldasphalt .asphalt-text{
        width: 100%;
    }
    .coldasphalt .coldasphalt-block{
        display: block;
    }
    .coldasphalt .asphalt-info {
       padding: 67px 0px 50px 60px;
   }
    .coldasphalt .asphalt-block{
       padding-top: 81px;
       margin-top: 0;
    }
    .coldasphalt .coldasphalt-img{
       width: 90%;
       height: 90%;
       margin-left: auto;
       margin-right: auto;
    }
    .coldasphalt .coldasphalt-info-text{
       justify-content: center;
       padding-top: 18px;
    }
    .coldasphalt .coldasphalt-info-text-a{
       width: 100%;
    }
    .marki-info-block{
        margin-left: 85px;
        margin-right: 85px;
     }
     .PMB-info{
        padding: 60px 0px 19px 120px;
     }
     .PMB-text{
        margin-left: 120px;
        max-width: 614px;
     }
     .polimer-img img{
        width: 90%;
     }
     .polimer-img{
        display: flex;
        justify-content: center;
        padding-bottom: 38px;
     }
     .polimer-info-text{
        justify-content: center;
     }
     .polimer-info-text-a{
        max-width: 443px;
     }
     .polimer-conteiner{
        margin-bottom: 60px;
     }
    .container {
        width: 576px;
    }

    .passports{
        flex-wrap: wrap;
    }
    .passpotrs-menu-blok{
        width: 100%;
    }
    .passport-menu-item{
        width: auto;
    }
    .passport-menu-item span::before{
        height: 100%;
        display: none;
    }
    .passport-menu-item{
        height: auto;
        padding: 10px;
    }
    .passport-menu-child-block{
        padding-bottom: 0;
    }
    .passports-page{
        background: #D9D9D9;
    }
    .passport-menu-child-item.active{
        padding: 10px;
    }
    .passport-menu-child-item{
        padding: 10px;
    }
    .passport-menu-item-block{
        background: #fff;
    }
    .passport-menu-item span::after{
        display: none;
        position: absolute;
        left: 100%;
        top: -1px;
        width: 100%;
        content: "";
        background: #F9D119;
        height: 100%;
        border-bottom: 2px dashed #1D1D1D;
        z-index: 1;
      }
    .about-partners{
        grid-template-columns: 1fr 1fr;
    }
    .about-description{
        grid-template-columns: 1fr;
    }
    .left-background{
        display: none;
    }
    .about-description-item,
    .about-description-item-bitumen {
        font-size: 20px;
    }
    .about-description-item.left,
    .about-description-item-bitumen {
        padding: 40px 36px 40px 36px;
    }
    .about-description-block .right-background {
        margin-top: 20px;
    }
    .textf{
        width: 300px;
    }
    .textz{
        width: 550px;
    }
    .block-flex{
        width: 550px;
    }
    .you-want-text .aviation-text{
        width: auto;
    }
    .jet-engine .title{
        width: auto;
    }
    .howwork-container {
        width: 576px;
     }
     .howwork-main {
        padding-bottom: 20px;
    }
     .howwork-title {
        margin-bottom: 30px;
    }
    .howwork-video {
        margin-bottom: 50px;
     }
     .howwork-value {
        padding-bottom: 30px;
    }
    .howwork-staff {
     padding-bottom: 40px;
     }
     .howwork-rules {
        padding-bottom: 30px;
    }
     .howwork-rules p {
        margin-bottom: 30px;
    }
    .howwork-end {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-bottom: 70px;
    }
    .howwork-end-text {
        width: 380px;
    }
    .department-item {
        width: 607px;
    }
    .department-item .department-title {
        max-width: 498px;
    }
    .container .department-block{
        width: auto;
    }
    .tasks-text{
        width: auto;
    }
    .concept-text{
        width: auto;
    }
    .concept-block{
        padding: 30px
    }
    .department-block{
        display: block;

    }
    .logistics-form{
        position: static;
        margin-bottom: 30px;
    }
    .main-form{
        padding: 50px;
        height: auto;
    }
    .risk span:after, .monitoring span:after, .agreement span:after, .additionally span:after, .cost span:after{
        display: none;
    }
    .line1{
        display: none;
    }
    .risk, .monitoring, .agreement, .additionally, .cost{
        width: 607px;
    }
    .posting span:before, .filling span:before, .level span:before, .loading span:before, .adaptation span:before{
        display:none;
    }
    .posting, .filling, .level, .loading, .adaptation{
       padding-left: 0;
       padding-bottom: 0;
        padding-top: 50px;
        width: 607px;
        max-width: 607px;
    }
    .tasks-block{
        padding: 30px;
    }
    .services-list svg{
        width: 80px;
        height: 80px;
    }
    .block-right2 div{
        font-size: 16px;
    }
    .quality-block{
        padding: 50px;
    }
    .petrol-page .bitum-page-block-8__decoration{
        justify-content: space-between;
    }
    .polimer-conteiner{
        display: block;
    }
    .bitum-page-block-8__container.container .bitum-page-block-8__decoration{
        justify-content: space-between;
    }
    .implementation-block{
        width: 100%;
    }
    .portfolio-img img{
        position: static;
        width: 100%;
        height: auto;
    }
    .portfolio-block{
        display: block;
    }
    .portfolio-info{
        padding: 20px;
    }
    .portfolio-info svg{
        width: 200px;
    }
    .portfolio-info{
        height: auto;
    }
    .business{
        padding-right: 0;
    }
    .business-info{
        padding: 20px;
    }
    .business-info-2{
        padding: 20px;
    }
    .business-info-ol{
        padding: 20px;
    }
    .koks .bitum-page-block-8__decoration_circle-small::before {
        width: 13.4375rem;
    }
    .container-blok {
        padding: 27px 0px 32px;
        text-align: center;
    }
    .koks .bitum-page-block-8__decoration_circle-big:not(:last-child)::after {
        width: 9.4375rem;
    }
    .jet-engine-blok .aviation-text {
        width: 446px;
    }
    .brand {
        font-size: 35px;
    }
    .type-block {
        padding: 29px 40px 20px;
    }
    .container-fuel {
        display: flex;
        gap: 40px;
    }
    .petrol-page .bitum-page-block-8__decoration,
    .d-oil-page .bitum-page-block-8__decoration {
        width: 85%;
    }
    .petrol-page .bitum-page-block-8__container.container,
    .d-oil-page .bitum-page-block-8__container.container {
        width: 80%;
    }
    .consumption-text {
        padding: 0;
        margin-bottom: 40px;
    }
    .risk {
        padding-top: 21px;
    }
    .ethical-justifications-mobile .block-wrapper {
        margin-top: 19%;
    }
}
@media (max-width: 576px){
    .all-bitum-page .block-items{
        grid-template-columns: 1fr 1fr;
    }
    .article-blog{
        grid-template-columns: 1fr;
    }
    .coldasphalt .asphalt-text-conteiner{
        grid-template-columns: 1fr;
        gap: 41px;
     }
     .coldasphalt .asphalt-page{
        padding-left: 0;
        width: 100%;
        text-align: center;
     }
    .marki-block{
        width: 100%;
        justify-content: center;
        padding-left: 0;
     }
     .marki-info-text{
        height: 100px;

     }
     .marki-info-block {
        margin-left: 40px;
        margin-right: 40px;
        gap: 20px;
     }
     .PMB-info {
        padding: 40px 0px 19px 90px;
     }
     .PMB-text {
        margin-left: 90px;
        max-width: 465px;
     }
     .polimer-info-text-a {
        max-width: 370px;
     }
     .bitumPMB-page .polimer-page{
        width: 100%;
     }
    
    .container {
        width:  440px;
    }
    .passports-body{
        grid-template-columns: 1fr;
    }
    .about-title h1{
        font-size: 30px;
        line-height: 1.3;
    }
    .about-text-img{
        height: 170px;
    }
    .about-partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .about-preview-item{
        width: 100%;
    }
    .about-page{
        margin-left: 30px;
        margin-right: 30px;
    }
    .page-404 span{
        font-size: 20px;
    }
    .textf{
        width: auto;
    }
    .textz{
        width: 430px;
    }
    .block-flex{
        width: 430px;
    }
    .zagk{
        font-size: 25px;
    }
    .you-want-item{
        flex-wrap: wrap;
    }
    .jet-engine-blok{
        flex-wrap: wrap;
    }
    .container-blok{
        padding: 32px;
        display: flex;
        justify-content: center;
    }
    .jet-item{
        padding: 24px;
    }
    .jet-fuel-text .aviation-text{
        padding: 24px;
    }
    

    .howwork-container {
        width: 450px;
     }
     .howwork-title {
        font-size: 35px;
    }
    .howwork-main,
    .howwork-video,
    .howwork-value,
    .howwork-competitors,
    .howwork-staff,
    .howwork-rules,
    .howwork-end  {
        padding-left: 30px;
        padding-right: 30px;
     }
     .howwork-video {
        margin-bottom: 40px;
    }
    .howwork-competitors-item {
        padding: 25px 0;
    }
    .howwork-competitors-text,
     .howwork-competitors-img {
        width: 90%;
     }
     /* .howwork-competitors-img {
        height: 100%;
     } */
     .howwork-competitors-text span {
        font-size: 20px;
     }
     .howwork-staff-title {
        font-size: 30px;
     }
     .howwork-end .howwork-competitors-img,
     .howwork-end-text {
        width: 100%;
     }
     .department-item {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .risk, .monitoring, .agreement, .additionally, .cost{
        width: auto;
    }
    .posting, .filling, .level, .loading, .adaptation{
        width: auto;
    }
    .block-right2 .page-info2{
        padding: 50px;
        height: auto;
    }
    .fbl .st:first-child{
        width: 100px;
        min-width: 100px;
    }
    .maint div{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
    .quality-block{
        margin-left: auto;
    }
    .koks .bitum-page-block-8__decoration_circle-small::before {
        width: 9.75rem;
    }
    .koks .bitum-page-block-8__decoration_circle-big:not(:last-child)::after {
        width: 2.4375rem;
    }
    .type-block {
        padding: 29px 30px 20px;
    }
    .container-fuel {
        gap: 57px;
    }
    .title-item {
        font-size: 27px;
    }
    .passpotrs-download {
        justify-content: flex-start;
        padding-left: 44px;
    }
    .ethical-justifications-mobile .block-wrapper {
        margin-top: 25%;
    }

} 

@media (max-width: 479px) {
    .koks .bitum-page-block-8__items {
        margin-top: -137px;
    }
    .koks .bitum-page-block-8__decoration_circle-small::before {
        display: none;
    }
    .koks .bitum-page-block-8__decoration_circle-big:not(:last-child)::after {
        width: 0.075rem;
    }
    .aviation-fuel__decoration_circle-big:not(:last-child)::after {
        width: 0.075rem;
        left: 45%;
    }
    .engine {
        width: 180px;
        margin-bottom: 11px;
    }
    .petrol-page .bitum-page-block-8__container.container,
    .d-oil-page .bitum-page-block-8__container.container {
        width: 90%;
    }

}
@media (max-width: 450px){
    .bitumPMB-page .polimer-item-text{
        width: 100%;
    }
    .coldasphalt .coldasphalt-info-text-a{
        width: 68%;
     }
     .coldasphalt .asphalt-text-conteiner{
        margin-left: 30px;
        margin-right: 30px;
     }
    .marki-text{
        width: 90%;
        text-align: center;
     }
     .marki-info-block{
        grid-template-columns: 1fr 1fr;
     }
     .PMB-info{
        padding: 50px 0px 19px 0px;
        text-align: center;
     }
     .PMB-text{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
     }
     .polimer-item-text{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        padding-left: 0;
     }
     .polimer-info-text-a{
        width: 70%;
     }
     .polimer-info-text{
        gap: 24px;
     }
    .container {
        width: 400px;
    }
    .textz{
        width: auto;
    }
    .block-flex{
        width: auto;
    }

    .howwork-container {
        width: 400px;
    }
    .howwork-value-title {
        font-size: 27px;
    }

    .services-block{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .process-block{
        padding: 20px;
    }
    .title-prewie{
        font-size: 24px;
    }
    .fuel-item{
        font-size: 24px;
    }
    .fuel{
        min-width: 100px
    }
    .aviation-fuel__decoration_circle-big:not(:last-child)::after {
        left: 47%;
    }
    .container-fuel {
        gap: 30px;
    }
    .engine {
        width: 160px;
        margin-bottom: 11px;
    }
    .title-item {
        font-size: 20px;
    }
    .petrol-page .fuel-item{
        font-size: 23px;
    }
    .ethical-justifications-mobile .block-wrapper {
        margin-top: 33%;
    }

} 
@media (max-width: 400px){
    .bitumPMB-page .PMB-text{
        width: 100%;
    }
    .bitumPMB-page .polimer-page::after {
        height: 158px;
    }
    .coldasphalt .asphalt-info {
        padding: 67px 0px 50px 0px;
        text-align: center;
    }
     .coldasphalt .coldasphalt-info-text-numbers{
        padding: 10px;
     }
     .coldasphalt .coldasphalt-info-text-a {
        width: 71%;
    }
    .PMB-text{
        width: 80%;
     }
     .bitumPMB-page .polimer-page{
        height: 158px;
     }
     .PMB-text{
        margin-bottom: 29px;
     }
    .container {
        width: 375px;
    }

    .howwork-container {
        width: 375px;
     }
     .howwork-value-title {
        font-size: 25px;
    }
    .demand, .formation, .organization, .creation, .security{
        padding: 20px 0;
    }
    .petrol-page .implementation-item .text {
        margin-bottom: 0;
    }
    .block {
        padding: 0;
    }
    .ethical-justifications-mobile .block-wrapper {
        margin-top: 50%;
    }
} 
@media (max-width: 375px){
    .bitumPMB-page .marki-info-block{
        grid-template-columns: 1fr;
    }
    .bitumPMB-conteiner .marki-info-block {
        margin-left: 10px;
        margin-right: 10px;
    }
    .marki-info-block {
        margin-left: 25px;
        margin-right: 25px;
     }
     .PMB-info{
        padding: 36px 0px 19px 0px;
     }
    .container {

        width: 320px;
    }


    .howwork-container {
        width: 320px;
     }
     .howwork-title {
        font-size: 30px;
    }
    .howwork-competitors-text,
    .howwork-competitors-img {
        width: 100%;
    }
    .howwork-competitors-img {
        height: 150px;
    }
    .howwork-competitors-item {
        padding: 25px;
        gap: 25px;
    }
    .howwork-staff-title {
        font-size: 27px;
     }
     .howwork-rules p,
     .howwork-rules-item span {
        font-size: 16px;
     }

     .bitum-page-block-8__item:nth-child(2) {
        gap: 0;
     }
     .type-block {
        padding: 29px 25px 20px;
    }
    .engine {
        width: 127px;
        margin-bottom: 11px;
    }
}

